#{extends 'Admin/adminTemplate.html' /}
#{set pageTitle:'Importer son profil de LinkedIn' /}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'public/javascripts/openid/jquery-1.2.6.min.js'}"></script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: GbAcjfxJzfYpzx2xeYRuO8tvVF1udtOMlgDsnLwpHmjUwg6g4JPZV25Uz5zT5arO
        onLoad: onLinkedInLoad
        authorize: true
    </script>
    <script type="text/javascript" src="@{'/public/javascripts/linkedin_zindep.js'}"></script>
#{/set}



    <h2>Mettre à jour son profil à partir de LinkedIn</h2>
    <!-- Linked In-->
    <script type="IN/Login"></script>

    <div id="resultLinkedIn"></div>
    <div id="mainPanel"></div>
    <div id="profile"></div>


