#{extends 'Admin/adminTemplate.html' /}
#{set title:'Accueil' /}

#{showLeftAdminNav /}
    <h1>Ma page perso</h1>
    <P>Bienvenue dans votre espace privé.</P>
    #{ifErrors}
    <div class="error">
        <h2>Erreur</h2>
        <ul>
            #{errors}
            <li>${error}</li>
            #{/errors}
        </ul>
    </div>
    #{/ifErrors}

    #{if flash.error}
    <div class="error">
        <h2>${flash.error}</h2>
    </div>
    #{/if}

    #{if flash.success}
    <div class="successbox">
        ${flash.success}
    </div>
    #{/if}


