/* ----------------------------------------------
 * RESET
 * ------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {border-collapse: separate;border-spacing: 0;}

/* ----------------------------------------------
 * GENERAL
 * ------------------------------------------- */
html
{
	margin: 0;
	background: #fff;
	color: #000;
	font: 13px "Helvetica";
}

@font-face 
{
    font-family: 'Qlassik Bold';
    src: url(qlassik_tb_d7b9.otf);
}

/* ----------------------------------------------
 * MAIN BOX
 * ------------------------------------------- */
#maincontact
{
	margin: 30px auto 20px;
	padding: 0 10px 10px;
	position: relative;
	min-height: 400px;

	background: #000033;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e9e9), to(#ffffcc)) no-repeat;
	background:  -moz-linear-gradient(-90deg, #e8e9e9, #ffffcc) no-repeat;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #060a2a 0 1px 1px, #e8e9e9 0 -1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #060a2a 0 1px 1px, #e8e9e9 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.bleuSombre{
   color: #060a2a
}
.bleuClair{
   /*color: #92e4f6 ;*/
    color:#cecece;
}
.bleuHaut{
    /*color:#69aaec;*/
    color: #e8e9e9;
}
.bleuBas{
   /*color:#172188;*/
   color: #ffffcc;
}

/* ----------------------------------------------
 * HEADER
 * ------------------------------------------- */
#logo
{
	position: absolute;
	top: -40px;
	left: 170px;
}

h1
{
	padding: 30px 0 10px;

	color: rgba(0,0,0,0.7);
	font-family: 'Qlassik Bold';
	text-shadow: rgba(255,255,255,0.5) 0 1px 1px, rgba(0,0,0,0.5) 0 -1px 1px;
	font-size: 50px;
}

h1 span
{
    display: block;
    font-size: 16px;
    opacity: .8;
}

/* ----------------------------------------------
 * MENU
 * ------------------------------------------- */
nav
{
	position: absolute;
	top: 48px;
	right: 10px;
}

nav a
{
	padding: 4px 6px;
	margin: 0 2px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #1b0014;
	background: -webkit-gradient(linear, left top, left bottom, from(#1b0014), to(#999999));
	background: -moz-linear-gradient(-90deg, #1b0014, #999999);
	-webkit-box-shadow: #000 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 3px 3px;
	-moz-box-shadow: #000 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 3px 3px;
	
	color: #999999;
	font-family: "Qlassik Bold";
	font-size: 18px;
	text-shadow: rgba(0,0,0,0.8) 0 -1px 1px;
	text-decoration: none;
}

nav a:hover
{
	color: #fff;
	-webkit-box-shadow: #999999 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.3) 0 5px 4px;
	-moz-box-shadow: #999999 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.3) 0 5px 4px;
}

nav a:active
{
	position: relative;
	top: 1px;
}

nav a.selected
{
    color: #fff;
}

/* ----------------------------------------------
 * CONTENT
 * ------------------------------------------- */
#time 
{
    color: rgba(20,20,20,.6);
    text-align: center;
    font-family: "Qlassik Bold";
	text-shadow: rgba(255,255,255,0.5) 0 1px 0px, rgba(0,0,0,0.8) 0 -1px 1px;
	font-size: 70px;
	padding: 40px 0;
}

#time span {
    display: block;
    font-size: 30px;
}

#slogan {
     color: rgba(20,20,20,.6);
    text-align: center;
    font-family: "Qlassik Bold";
	font-size: 16px;
    text-align:justify;

}

/* ----------------------------------------------
 * LIST
 * ------------------------------------------- */
table
{
	width: 100%;
	table-layout: fixed;

	font-family: "Qlassik Bold";
	text-align: left;
	font-size: 15px;
	
	border: 1px solid rgba(0,0,0,0.1);
}

thead
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	background: #333300;
	background: -webkit-gradient(linear, left top, left bottom, from(#333300), to(#000000));
	background: -moz-linear-gradient(-90deg, #333300, #000000);
	border: 1px solid #000000;

	color: #ffffcc;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 1px;
}

th
{
	padding: 10px 5px 5px;
}


tbody tr
{
	opacity: 0.8;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
}

tbody tr:hover
{
	opacity: 1;
}

tbody tr:nth-child(even)
{
	background: rgba(0,0,0,0.05);
}

tbody tr:nth-child(odd)
{
	background: rgba(255,255,255,0.05);
}

td
{
	padding: 5px;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

td a, td input[type=submit]
{
    text-decoration: none;
    background: #fff;
    font-family: "Qlassik Bold";
    font-weight: bold;
    xtext-shadow: none;
    padding: 0 3px 0 5px;
    color: #3E6300;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    -moz-border-radius: 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

td a:active, td input[type=submit]:active
{
    position: relative;
    top: 1px;
}

td input
{
    font-family: "Qlassik Bold";
	text-align: left;
	font-size: 15px;
	padding: 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 0, .3);
	background: transparent;
	color: gold;
	display: block;
	margin: -3px -1px;
	width: 200px;
}

td.editing 
{
    padding: 0px 5px;
}


/* ----------------------------------------------
 * ADD
 * ------------------------------------------- */

form 
{
    margin: 10px 0;
    font-family: "Qlassik Bold";
    font-size:16px;
}

form em {
    font-size:12px;
    color: #918f8f;
    font-style:italic;
}

form label 
{
    display: block;
    font-size: 16px;
    text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    opacity: .8;
    padding: 4px 0;
}

form p.field
{
    padding: 5px;
    border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
} 

form p.field:nth-child(even)
{
	background: rgba(0,0,0,0.05);
}

form p.field:nth-child(odd)
{
	background: rgba(255,255,255,0.05);
}

form p.buttons 
{
    padding: 20px 0;
    color: rgba(255,255,255,.6);
    text-align: left;
}

form p.buttons a
{
    font-size: 16px;
    color: #fff;
    padding-right: 10px;
}

form p.buttons input {
    width: auto;
    margin-left: 10px;
    padding: 2px 10px;
    cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #62034b;
	background: -webkit-gradient(linear, left top, left bottom, from(#9c037c), to(#62034b));
	background: -moz-linear-gradient(-90deg, #9c037c, #62034b);
	-webkit-box-shadow: #d03eb1 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 3px 3px;
	-moz-box-shadow: #d03eb1 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.2) 0 3px 3px;
	
	color: #ed76d4;
	font-family: "Qlassik Bold";
	font-size: 18px;
	text-shadow: rgba(0,0,0,0.8) 0 -1px 1px;
	text-decoration: none;
}

form p.buttons input:hover 
{
	color: #fff;
	-webkit-box-shadow: #d03eb1 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.3) 0 5px 4px;
	-moz-box-shadow: #d03eb1 0 -1px 1px, rgba(0,0,0,0.5) 0 1px 1px, rgba(0,0,0,0.3) 0 5px 4px; 
	background: -moz-linear-gradient(-90deg, #9c037c, #62034b);
}

form p.buttons input:active 
{
	position: relative;
	top: 1px;
}

form p input 
{
    font-family: "Qlassik Bold"; 
    font-size: 16px;
    border: none;
    padding: 2px 4px;
    background: rgba(255, 255, 255, .4);
    width: 200px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    -moz-border-radius: 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 1px;
}

form p input:focus 
{
    background: rgba(255, 255, 255, .8);
}


form .error 
{
    color: #ff3333;
    padding-top: 3px;
}


/* ----------------------------------------------
 * FOOTER
 * ------------------------------------------- */
footer
{
	color: rgba(0,0,0,0.5);

	position: absolute;
	bottom: -58px;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	cursor: default;
}

footer p
{
	color: #555;
	font-family: "Qlassik Bold";
	text-decoration: none;
	font-size: 12px;
}

.errorbox {
    background: #FCF5F5;
    border: 1px solid #db9ea0;
    margin: 0 0 30px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.error {
    color: #FC3535;
    padding-right: 10px;
}

.successbox {
    background: #e5f4e1;
    border: 1px solid #d1e7ca;
    margin: 0 0 30px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

