#{extends 'main.html' /}
#{set title:'BackOffice' /}

<div class="grid_8">
<h1>Accueil</h1>

<p class="embp">Bienvenue ${session.zindepEmail}</p>
    <P>Cette partie permet de créer de nouveaux indépendants.</P>
    <br/>

#{a @newZindep()}Créer un nouvel zindep#{/a}<br/>
#{a @listZindeps()}Lister tous les zindeps#{/a}  <br/>
#{a @Admin.logout()}Se déloguer#{/a} <br/>

</div>
<div class="grid_4">
#{if flash.success}
    <div class="successbox">
        ${flash.success}
    </div>
#{/if}
</div>     
 