#{extends 'main.html' /}
#{set title:'BackOffice' /}


<div class="grid_6 prefix_1">
<h1>Accueil de la partie BackOffice</h1>

#{a @newZindep()}Créer un nouvel zindep#{/a}<br/>
#{a @listZindeps()}Lister tous les zindeps#{/a}  <br/>

#{a @triggerMissionPurgeBatchManually()}Purger les propositions de mission ayant expirées#{/a}  <br/>
#{a @Admin.logout()}Se déloguer#{/a} <br/>

</div>
<div class="grid_5">
#{if flash.success}
    <div class="successbox">
        ${flash.success}
    </div>
#{/if}
</div>     
 