#{extends 'main.html' /}
#{set title:'BackOffice' /}
<h1>Liste des Zindeps</h1>
#{if flash.error}
<div class="error">
    <h2>${flash.error}</h2>
</div>
#{/if}
#{if flash.success}
<div class="greenbox">
    ${flash.success}
</div>
#{/if}
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Membre depuis</th>
        <th>Localisation</th>

    </tr>
    </thead>

    #{list items:listOfZindeps, as:'indep'}
    <tr>
        <td>${indep.firstName}</td>
        <td>${indep.lastName}</td>
        <td>${indep.memberSince}</td>
        <td>${indep.location}</td>
    </tr>
    #{/list}

</table>
