#{extends 'main.html' /}
#{set title:'BackOffice' /}

#{set moreScripts:'<script src="/public/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript" charset="utf-8"></script>' /}



<div class="grid_12">
<h1>Editer un profil</h1>


#{ifErrors}
<div class="error">
    <h2>Attention il y a des erreurs</h2>
</div>
#{/ifErrors}

</div>

<div class="grid_8">

<!-- Tag play cree dans views/tags -->
#{jQueryValidate class:models.Zindep.class, key:'zindep' /}

#{form id:'joinForm', action:@BackOffice.doUpdateProfile()}

<input type="hidden" name="idEdit" value="${zindep.id}"/>
        
#{field 'zindep.email'}
<p>
    <label>Adresse email :</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
           size="90" maxlength="255">
    <span class="error">${field.error}</span><br/>

</p>
#{/}

#{field 'zindep.firstName'}
<p>
    <label>Prénom :</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
           size="90" maxlength="255">
    <span class="error">${field.error}</span><br/>
</p>
#{/}

#{field 'zindep.lastName'}
<p>
    <label>Nom :</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
           size="90" maxlength="255">
    <span class="error">${field.error}</span><br/>
</p>
#{/}

#{field 'zindep.location'}
<p>
    <label>Ville :</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
           size="90" maxlength="255">
    <span class="error">${field.error}</span><br/>
</p>
#{/}


#{field 'zindep.bio'}
<p>
    <label>Bio :</label>
    <textarea id="${field.id}" name="${field.name}" cols="60" rows="6" class="${field.errorClass}">${field.value}</textarea>
    <span class="error">${field.error}</span><br/>
</p>
#{/}


#{field 'zindep.techno'}
<p>
    <label>Technos/Domaine de compétences :</label>
    <textarea id="${field.id}" name="${field.name}" cols="60" rows="6" class="${field.errorClass}">${field.value}</textarea>
    <span class="error">${field.error}</span><br/>
</p>
#{/}


#{field 'zindep.memberSince'}
<p>
    <label>Membre depuis :</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value?.format('dd/MM/yy')}" class="${field.errorClass}"
           size="90" maxlength="255">
    <span class="error">${field.error}</span><br/>
    <em>Format: dd/mm/yy</em>
</p>
#{/}

<script type="text/javascript" charset="utf-8">
    $("#zindep_memberSince").datepicker(
    {dateFormat:'dd/mm/yy', showAnim:'fadeIn',
        dayNamesMin:["Di","Lu","Ma","Me","Je","Ve","Sa"],
        firstDay:'1'}
            )
</script>

<p class="buttons"><input type="submit" value="Enregistrer"/></p>
#{/form}

</div>
<div class="grid_4">
<H3>Gravatar :</h3>
<img src="http://www.gravatar.com/avatar/${zindep.gravatarId}" alt=""/>
<br/>
<p>Voir le site <a href="http://www.gravatar.com">http://www.gravatar.com</a></p>
<br/>
<br/>
#{a @prepareDelete(zindep.id)}Effacer cette fiche#{/a}
</div>
