#{extends 'main.html' /}
#{set pageTitle:'Accueil' /}


<div class="grid_8 prefix_2">
    <img id="uneautre" src="/public/images/uneautre.png" alt="une autre façon de travailler"/>
</div>
<div class="grid_8 prefix_2">
    <div id="mainPage">
        <h3>Qu'est-ce que les Zindeps ?</h3>
        <p><em>Les Zindeps</em> est un groupe d'informaticiens indépendants. Créé au départ par des
            développeurs Java dans la finance, nous sommes aujourd'hui un groupe d'une trentaine de personnes,
            en France et en Suisse.</p>

        <h3>Comment contacter un indépendant ?</h3>
        <p>Si vous êtes à la recherche d'un profil pour une mission, envoyez directement votre offre sur
        la page #{a @mission()}mission#{/a}. Votre email sera alors automatiquement envoyé à l'ensemble
        des membres enregistrés sur le site.</p>

        <h3>Comment rejoindre le groupe ?</h3>
        <p>Nous attachons beaucoup d'importance aux choix de nos membres. Pour devenir "zindep"
            vous devez être coopté et avoir travaillé avec l'un d'entre nous.  Nous n'acceptons pas
        de candidature spontanée. Si vous êtes indépendant, nous vous contacterons pour rejoindre le groupe
        si vos valeurs, votre niveau technique et votre vision du travail correspondent aux nôtres.</p>
    </div>
</div>
<div class="clear"></div>        
