#{extends 'main.html' /}
#{set title:'Accueil' /}

<div class="grid_12">
    <p id="time">Une autre façon de travailler</p>
</div>
<div class="grid_8 prefix_2">
    <p id="slogan">Nous sommes un groupe d'informaticiens indépendants. Spécialisé autour de Java, nous nous
        connaissons les uns, les autres. Nous avons la volonté de proposer un service de qualité au client.
        Nous souhaitons que notre nom soit une marque de qualité et de sérieux. Nous avons envie de faire bouger les
        choses, de travailler avec tout le monde, dans le respect de chacun. Nous sommes certains que nous ne sommes
        qu'au début d'une nouvelle façon de travailler. Nous vous invitons à découvrir qui nous sommes, et à nous
        contacter pour nous proposer vos missions.</p>
</div>
<div class="clear"></div>        
