#{extends 'main.html' /}
#{set title:'Proposer une mission' /}

<div class="grid_8 prefix_2">
        <h1>Proposer une mission</h1>
        #{form @submitMission()}
        <p>A la recherche d'un indépendant ? Compléter ce formulaire et contactez directement les indépendants
        du réseau. Merci de #{a @Application.qui()}prendre connaissance de nos profils#{/a} avant de poster une offre.
        Nous déclinons systématiquement toutes les offres qui n'ont pas de rapport avec nos domaines d'expértise.</p>

        #{field 'propal.title'}
        <p>
            <label for="${field.id}">Titre de la mission :</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="60" maxlength="255"><span class="error">${field.error}</span><br/>
            <em>Merci d'indiquer le profil, le niveau, les compétences recherchées.</em>
        </p>
        #{/}


        #{field 'propal.description'}
        <p>
            <label for="${field.id}">Description :</label>
            <textarea id="desc" name="${field.name}" cols="60" rows="6"></textarea>
<span class="error">${field.error}</span><br/>
            <em>Type de client, durée, date de début souhaitée, environnement technique, compétences requises, objectif de la mission</em>

        </p>
        #{/}

        #{field 'propal.localisation'}
        <p>
            <label for="${field.id}">Localisation :</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="40" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Où se situe la mission ?</em>

        </p>
        #{/}


        #{field 'propal.tjm'}
        <p>
            <label for="${field.id}">TJM net:</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="40" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Merci de préciser une fourchette</em>

        </p>
        #{/}

        #{field 'propal.contact'}
        <p>
            <label>Comment vous contacter ?</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="60" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Votre email, votre nom et votre téléphone</em>

        </p>
        #{/}


        <p class="buttons"><input type="submit" value="Soumettre"  class="button blue large"/></p>
        #{/form}

    </div>

    <div class="clear">&nbsp;</div>
