#{extends 'main.html' /}
#{set title:'Home' /}

<div class="grid_8 prefix_2">
        <h1>Proposer une mission</h1>
        #{form @submitMission()}
        <p>Vous êtes à la recherche de compétences Java ? Proposez simplement votre mission, soyez direct, ne nous
            proposez pas de copier-coller d'une offre type Monster que nous ne lirons même pas... Bref soyez aussi
            direct
            que vous l'êtes au téléphone :</p>

        #{field 'propal.title'}
        <p>
            <label>Titre de la mission :</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="60" maxlength="255"><span class="error">${field.error}</span><br/>
            <em>Indiquez clairement le type de profil, le niveau recherché. Le titre doit être précis et clair.</em>

        </p>
        #{/}


        #{field 'propal.description'}
        <p>
            <label>Description :</label>
            <textarea id="desc" name="description" cols="60" rows="6"></textarea>
<span class="error">${field.error}</span><br/>
            <em>Type de client, durée, environnement technique, compétences requises, objectif de la mission</em>

        </p>
        #{/}

        #{field 'propal.localisation'}
        <p>
            <label>Localisation :</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="90" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Où se situe la mission ?</em>

        </p>
        #{/}


        #{field 'propal.tjm'}
        <p>
            <label>TJM :</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="90" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Merci de préciser une fourchette</em>

        </p>
        #{/}

        #{field 'propal.contact'}
        <p>
            <label>Comment vous contacter ?</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"
                   size="90" maxlength="255">
            <span class="error">${field.error}</span><br/>
            <em>Votre email, votre nom et votre téléphone</em>

        </p>
        #{/}


        <p class="buttons"><input type="submit" value="Soumettre"/></p>
        #{/form}

    </div>

    <div class="clear">&nbsp;</div>
