#{extends 'main.html' /}
#{set title:'Qui' /}


<div class="grid_6 prefix_2">
    <h1>Travaillons ensemble</h1>
</div>


<div class="grid_4">
    #{form @search()}
    <input type="text" name="s" value="" class="searchBox" size="40" placeholder="Recherche par nom ou prénom"/>
    #{/form}
    <br/>
</div>

<div class="grid_8 prefix_2">

    <table>
    #{list items:listOfZindeps, as:'indep'}

        #{if indep_parity=='odd'}
        <TR>
        #{/if}
            <td>
                #{if indep.pictureUrl && indep.pictureUrl!='undefined'}
                    #{a @showProfile(indep.id,indep.firstName,indep.lastName)}
                    <img src="${indep.pictureUrl}"
                         alt="${indep.firstName} ${indep.lastName}"
                         class="zindepPicture"/>
                    #{/a}
                    <br/>
                #{/if}
                ${indep.firstName} ${indep.lastName}<br/>
                #{a @showProfile(indep.id,indep.firstName,indep.lastName),class:'button green small'}Profil#{/a}</td>
       #{if indep_parity=='even'}
        </TR>
        #{/if}
    #{/list}
    </table>


</div>
<div class="clear">&nbsp;</div>
